@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #333;
}

.background{
		background: linear-gradient(to bottom, #F20544 75.5%, #FFFFFF 75.5%);
}

#logo img {
	width: 150px;
	background: #F20544;
	margin-top: 5px;
	display: block; 
}

.topo {
    padding: .5em 0;
    background: #FFFFFF;
    width: 100%; 
    max-width: 1200px; 
    margin: 0 auto; 
}
.topo p {
	font-size: 20px;
	text-align: center;
}

.topo span{
	color: #D80F3A;
	font-weight: bolder;
}

.topo strong{
	color: #676767;
	font-weight: bolder;
}

.topo p a{
	color: #6F6F6F;
	text-decoration: none;
}

.topo i.bi-chevron-right{
	font-size: 14px;
	color: #D80F3A;
}

#navbar {
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F20544;
    width: 100%; 
    max-width: 1200px; 
    margin: 0 auto; 
}

#navbar ul {
    display: flex;
    list-style: none;
}

#navbar ul li {
    margin-left: 1em;
	white-space: nowrap;
}

#navbar ul li a {
    text-decoration: none;
    transition: 0.5s;
    font-weight: bold;
	color: #FFF;
}

#navbar ul li i {
	color: #FFF;
	margin: 0 10px;
	font-size: 1.6em;
}

.menu-mobile,
.search-header-mobile {
	display: none;
}

.search-header {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.search-form {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 5px 10px;
    max-width: 500px;
    width: 100%;
	height: 20px;
}

.search-input {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    flex-grow: 1;
    font-size: 1em;
	border-radius: 7px 0 0 7px;
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.search-button {
    background: #FFF;
	border: none;
	border-radius: 0 7px 7px 0;
    cursor: pointer;
    font-size: 1.2em;
	padding: 8.2px;
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.search-button i{
	color: #F20544;
}

.search-button:hover {
    color: #F6982D;
}

.search-input::placeholder {
    color: #ccc;
}

.login-item {
    display: flex;
    align-items: center;
}

.login-item i.bi-person-circle {
    font-size: 1.8em; 
    margin-right: 10px; 
}

.login-text {
    display: flex;
    flex-direction: column;
}

.login-text a {
    text-decoration: none;
    color: #333;
    font-size: 0.9em; 
}

.login-text a:hover {
    color: #000;
}

.login-text i.bi-chevron-down {
    font-size: 0.9em; 
    vertical-align: middle; 
	font-weight: bold;
}

/* FILTROS */

.form-filtro {
    display: flex;
    flex-direction: column;
}

.form-filtro input {
    margin: 10px 0;
}

.form-filtro input{
	padding: 7px;
	border-radius: 3px;
	border: 1px solid #F20544;
}

.form-filtro input[type="number"] {
    width: 85%;
}

form input[type='submit'],
.btn{
	margin: 0 auto;
	width: 100%;
}

/* MAIN */

#main {
    padding: 1.0em 0em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F20544;
	width: 100%; 
    max-width: 1200px; 
    margin: 0 auto; 
}

#main ul {
    display: flex;
    list-style: none;
}

#main ul li {
	color: #FFF;
	font-weight: bold;
	font-size: 0.8em;
	white-space: nowrap;
}

#main ul li a {
    text-decoration: none;
    transition: 0.5s;
    font-weight: bold;
	color: #FFF;
	margin: 0 0 0 20px;
}

#main ul li i {
	color: #FFF;
	margin: 0 5px;
}

/* MENU */

.menu {
    padding: .5em 0em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
	width: 100%; 
    max-width: 1200px; 
    margin: 0 auto; 
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li {
	color: #333;
	font-size: 0.8em;
	white-space: nowrap;
}

.menu ul li a {
    text-decoration: none;
    transition: 0.5s;
	color: #666;
	padding: 0 0 0 45px;
}

.menu ul li i {
	color: #FFF;
}

.menu .dept i {
	color: #333;
	font-size: 20px;
}

.menu .dept i .bi-bi-list{
	font-size: 50px;
}

/* CONTAINER */
.wrapper {
    display: flex;
    flex-direction: column;
	background: #A6032F;
}
.container {
    display: grid;
    grid-template-columns: 200px 1fr; 
    gap: 1em; 
	max-width: 1400px;
    margin: 0 auto;
    min-height: 60vh;
    padding: 2em;
    background: #A6032F;
}

.sidebar {
    background: #E8E8E8; 
    padding: 1em;
    border-radius: 20px 20px 0 0;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.sidebar ul {
    list-style: none;
}

.sidebar h2 {
    margin: 10px 0;
}

.admin-info {
    margin-bottom: 1em;
    padding: 1em;
    background: #FFFFFF; 
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.admin-info img {
    margin: 0 auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding-bottom: 20px;
}

.admin-info h3 {
    margin-top: 0;
}

.content {
    flex: 1; 
    background: #FFFFFF; 
    padding: 1em;
    border-radius: 20px 20px 0 0;
	width: 1000px;
}

/* MESSAGES */
.message{
	padding: 1em;
	color: #004085;
	background-color: #cce5ff;
	border: 1px solid #b8daff;
	border-radius: 5px;
	text-align: center;
	margin: 0 auto 2em;
	max-width: 60%;
}

/* LOGIN E REGISTER */
.auth-container{
	max-width: 450px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
.auth-container h2{
	margin-bottom: 1em;
	color: #333;
	border-left: 4px solid #F20544;
	padding: .3em;
	width: 100%;
}
.auth-container a {
	color:#F20544;
}
.form-control{
	display: flex;
	flex-direction: column;
	margin-bottom: 1em;
}
.form-control label {
	font-weight: bold;
	margin-bottom: 0.5em;
}
.form-control input,
.form-control textarea{
	padding: 7px;
	border-radius: 3px;
	border: 1px solid #F20544;
}
form input[type='submit'],
.btn{
	background-color: transparent;
	color: #F20544;
	border: 2px solid #F20544;
	padding: .5em 1.2em;
	margin-bottom: 1em;
	font-size: 1em;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
	transition: .5s;
}

form input[type='submit']:hover,
.btn:hover{
	background-color: #F20544;
	color: #fff;
}

/*CREATE / EDIT FORM */
.produto-form-container {
    max-width: 100%;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

.produto-form-container h1 {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.produto-form-container a {
    text-decoration: none;
    color: #007bff;
    display: block;
    margin-bottom: 20px;
    font-size: 14px;
    transition: color 0.3s;
}

.produto-form-container a:hover {
    color: #0056b3;
}

/* Estilos dos grupos de formulários */
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #555;
}

.form-group input,
.form-group textarea {
    width: 98%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    font-size: 14px;
    color: #333;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
    outline: none;
}

/* Estilo do botão */
.btn {
    display: inline-block;
    width: 100%;
    padding: 10px 15px;
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.btn:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
}

.btn {
    background-color: #F20544;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #e20443;
}

/* DASHBOARD */
.title-container{
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.5em;
}
.title-container h2{
	border-left: 4px solid #F20544;
	padding: 10px;
}
.dashboard h3{
	margin-bottom:1.5em
}
.dashboard ul{
	list-style: none;
}
.dashboard li {
	padding: 12px;
	border-bottom: 1px solid #F20544;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.dashboard .label{
	font-weight: bold;
	color: #F20544;
}
.dashboard .actions{
	display: flex;
	gap: 10px
}

.dashboard a {
	color: #F20544;
}

/*HOME*/
.home-header{
	display:flex;
	flex-direction: column;
	max-width: 60%;
	margin: 0 auto;
	text-align: center;
}

.home-header h1{
	margin-bottom: 1em
}

.home-header span{
	color: #F20544
}

.home-header p,
.home-header form {
margin-bottom: 1.2em;

}
.home-header input{
	border: none;
	border-bottom: 1px solid #fff;
	padding: 0.5em;
	margin-right: 1em;
}

.home-header input[type='text']{
	width: 60%;
}
.home-header input:placeholder{
	color:#fff;
}

.order-container{
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 80%;
	margin: 0 auto 1em;
}

.order-container span{
	font-weight: bold;
	color: #fff;
}

.order-container form{
	margin: 0;
}

.order-container button{
	margin-bottom: 0;
	border: none;
	cursor: pointer;
}

.order-container button:hover,
.order-container i:hover,
.order-container a:hover{
	color: #F20544;
}

.order-container button,
.order-container i,
.order-container a{
	margin: 0 7px;
}

.produtos-container figure{
	border-bottom: 1px solid #333;
	padding: .5em;
	max-width: 50%;
	margin: 0 auto 1em;
}


.produtos-container blockquote{
	font-style: italic;
	font-size: 2em;
	margin-bottom: .4em;
}
.produtos-container span{
	color: #F20544;
}

/* FOOTER */
footer{
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid  #F20544
}

footer span{
	font-weight: bold;
	color: #F20544;
}

footer p{
	margin: 10px 0;
}

/* PAGINAÇÃO */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    margin: 0 5px;
    padding: 8px 16px;
    text-decoration: none;
    color: #F20544;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.pagination a.active {
    background-color: #F20544;
    color: #FFFFFF;
    border-color: #ddd;
}

.pagination a:hover:not(.active) {
    background-color: #FFFFFF;
}

/* CARRINHO */

.quantidade-carrinho {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
    border-radius: 50%;
    padding: 0.1em 0.5em;
    font-size: 1em;
    position: absolute;
    top: -8px;
    right: -8px;
}

.btn-add {
	display: inline-block;
	padding: 6px 10px;
	background-color: #009611;
	color: white;
	border: none;
	border-radius: 4px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	width: 100%;
}

.btn-add:hover {
	background-color: #09b300;
}  
.btn-off {
	display: inline-block;
	padding: 6px 10px;
	background-color: #ff0000;
	color: white;
	border: none;
	border-radius: 4px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}

.btn-off:hover {
	background-color: #b30000;
}

.icon-container {
    position: relative;
    display: inline-block;
}

.card-container {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	padding: 1em;
	margin-top: 1em;
}

.card {
	background-color: #fff;
	border-radius: 12px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	max-width: 230px;
	display: flex;
	flex-direction: column;
	transition: transform 0.2s ease;
}

.card:hover {
	transform: translateY(-5px);
}

.card img {
	width: auto;
	height: 200px;
	object-fit: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

.card a{
	text-decoration: none;
}

.card-content {
	padding: .5rem;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between; 
}

.card-title {
	font-size: .8rem;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.card-price {
	font-size: 1rem;
	color: #28a745;
	font-weight: 500;
  }

.card-actions {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: .5rem;
}

.card-actions a,
.card-actions button {
	text-decoration: none;
	border: none;
	background: none;
	cursor: pointer;
	font-size: .78rem;
	color: #FFF
}

.card-actions button {
	color: red;
}

.card-actions .btn-ed {
	display: inline-block;
	padding: 6px 10px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 4px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	margin-left: 10px;
}

.card-actions .btn-ed:hover {
	background-color: #0056b3;
}  
.card-actions .btn-del {
	display: inline-block;
	padding: 6px 10px;
	background-color: #ff0000;
	color: white;
	border: none;
	border-radius: 4px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	margin-right: 10px;
}

.card-actions .btn-del:hover {
	background-color: #b30000;
}

.card-actions .btn-del i{
	color: #FFF;
}

/* QUANTIDADES */
.quantity-control {
	display: flex;
	align-items: center;
	gap: 15px;
}

.quantity-form {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
}

.btn-quantity {
	background-color: #f0f0f0;
	color: #333;
	border: none;
	padding: 5px 8px;
	font-size: 1.1rem;
	border-radius: 50%;
	transition: background-color 0.2s ease;
	cursor: pointer;
}

.btn-quantity:hover {
	background-color: #e0e0e0;
}

main p {
	font-size: 1.2rem;
	color: #555;
	margin-top: 20px;
	font-weight: 500;
	text-align: center;
}
  
  p b {
	color: #28a745;
}

/* DESCRIÇÃO DO PRODUTO */

.produtos-detalhes {
	max-width: 1200px;
	margin: 0px auto;
	padding: 20px;
	background-color: #f8f9fa;
	border-radius: 12px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilo da Div de detalhes do produto */
  .product-details {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
	gap: 20px;
  }
  
  .product-details h2 {
	font-size: 1.8rem;
	font-weight: 600;
	color: #333;
	text-align: left;
  }
  
  .product-details img {
	width: 100%;
	max-width: 350px;
	height: auto;
	border-radius: 10px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	margin: 0 auto; 
	display: block;
  }
  
  .product-details p {
	font-size: 1.1rem;
	color: #555;
	margin: 0;
	font-weight: 500;
	text-align: left;
  }
  
  .product-details p strong {
	color: #333;
	font-weight: 600;
	align-items: flex-start;
  }
  
  .product-details p:first-of-type {
	color: #ff4d4d;
	font-style: italic;
  }

/* DASHBOARD PRODUTOS */
.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    list-style: none;
    padding: 0;
    background-color: #F5F5F5; 
    overflow-x: auto; 
    width: 100%;
    min-height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.products-grid li {
    padding: 20px;
    border-radius: 12px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.products-grid li:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.products-grid h3 {
    margin: 10px 0;
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

.products-grid span {
    margin-top: 0;
    font-size: 14px;
    color: #888;
}

.products-grid p {
    margin: 8px 0;
    color: #555;
}

.products-grid img {
    width: 100%;
    max-width: 180px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

/* Botões de ação */
.btn-edit, .btn-delete {
    display: inline-block;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.btn-edit {
    background-color: #007bff;
    color: white;
    width: auto;
}

.btn-edit:hover {
    background-color: #0056b3;
}

.btn-delete {
    background-color: #ff4d4d;
    color: white;
    width: auto;
}

.btn-delete:hover {
    background-color: #cc0000;
}

/* Confirmação de exclusão */
#confirmacaoMsg {
    background-color: #f8d7da;
    padding: 12px;
    border: 1px solid #f5c6cb;
    border-radius: 8px;
    color: #721c24;
    text-align: center;
    margin-bottom: 15px;
}

/* Botões de confirmação e cancelamento */
.btn-confirm, .btn-cancel {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 14px;
    width: 100%;
    transition: background-color 0.3s;
}

.btn-confirm {
    background-color: #dc3545;
    color: white;
}

.btn-confirm:hover {
    background-color: #c82333;
}

.btn-cancel {
    background-color: #6c757d;
    color: white;
}

.btn-cancel:hover {
    background-color: #5a6268;
}

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
	/* TOPO */
	.topo{
		margin: 10px 0;
	}
	.topo p {
		font-size: 11px;
		text-wrap: nowrap;
	}	
	.topo i.bi-chevron-right{
		font-size: 8px;
		color: #D80F3A;
		font-weight: bolder;
	}
    .offer-text {
        display: none;
    }

	#logo img {
		width: 100px;
		display: block; 
		margin: 0;
	}
	/* MESSAGES */
    .message {
        max-width: 100%;
    }

    /* HOME HEADER */
    .home-header {
        max-width: 100%;
        padding: 0 .3em;
    }

    /* CONTAINER PRODUTOS */
    .produtos-container figure {
        max-width: 100%;
        padding: .3em; 
    }

    .produtos-container blockquote {
        font-size: 1.5em; 
    }

    #navbar ul {
        flex-direction: column;
        align-items: flex-start;
    }

    /* SIDEBAR */
    .sidebar {
        width: 100%;
        margin-bottom: 1em;
        padding: 0;
		margin: 0;
    }

    .content {
        width: 100%;
		padding: 0;
		margin: 0;
    }

	.admin-info {
		margin-bottom: 1em;
		padding: 1em;
		background: #FFFFFF; 
		border-radius: 10px;
		box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
		display: flex;
		justify-content: space-between;
		flex-direction: row-reverse;
	}

	.admin-info .texto{
		margin: 0;
		font-size: 1em;
		margin-top: 10px;
	}
	
	.admin-info img{
		border-radius: 50%;
		padding: 0;
	}

    /* FOOTER */
    footer {
        flex-direction: column;
        padding: 1em;
    }

    footer p {
        margin: 0;
    }

    /* MENU MOBILE */
	#mobile{
		background: #F20544;
	}
	.menu-mobile {
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: #F20544;

	}

    .menu-mobile i.bi-list {
        font-size: 2.6em;
		font-weight: 900;		
    }

	.menu-mobile ul {
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;
		align-items: center;
	}
	
    .menu-mobile ul li {
        margin: 0.5em 0;		
    }	

	.menu-mobile ul li i {
		color: #FFF;
		margin: 0 10px;
		font-size: 1.6em;
	}

	.menu-mobile i {
		color: #FFF;
		margin: 0 10px;
		font-size: 2em;
	}

	.search-header-mobile {
		background: #F20544;
		margin: 1em auto; 
		width: 90%;
		display: flex;
		justify-content: space-between;
		align-items: center; 
		padding: 0;
		border-radius: 8px;
	}

	#main {
		display: block;
		background: #F20544;
	}

	#main .geo{
		margin-left: 20px;
	}

	#main .geo i {
		color: #e9c600;
		font-size: 14px;
	}

	#navbar, 
	#main ul a, 
	.menu  {
		display: none;
	}

    /* CONTAINER */
    .container {
        display: flex;
        flex-direction: column; 
        overflow-x: auto; 
		background: #F2F2F2;
    }

    .sidebar {
        order: 2; 
        border-radius: 0;
        box-shadow: none;
    }

    .content {
        order: 1; 
        border-radius: 0;
    }
    
    body {
        overflow-x: hidden;
    }

    /* AUTH CONTAINER */
    .auth-container {
        width: 100%;
        padding: 1em;
    }

    .form-control input,
    .form-control textarea {
        width: 100%;
    }

	/* FILTROS */
	.form-filtro input[type="number"] {
		width: 92%;
	}

	/* CARRINHO */
	.quantidade-carrinho {
		top: -6px;
		right: 0px;
	}
	/* CREATE / EDIT FORMS */
	.produto-form-container {
		width: 92%;
	}
    .produto-form-container {
        padding: 15px;
    }

    .produto-form-container h1 {
        font-size: 20px;
    }

    .form-group input,
    .form-group textarea {
        font-size: 13px;
    }

    .btn {
        font-size: 14px;
    }

	/* DASHBOARD PRODUTOS */
	.products-grid {
		grid-template-columns: repeat(10, 1fr);
	}

    /* CARDS */
	.card img {
		width: 150px;
		height: auto;
	}
	.card-container {
		flex-wrap: nowrap; 
		overflow-x: auto;  
		-webkit-overflow-scrolling: touch; 
	}

	.card {
		flex: 0 0 auto; 
		max-width: 100%; 
		width: 150px;
	}
}


  
