{{#if messages.message}}
<div class="message">
    {{messages.message}}
</div>
{{/if}}

<div class="produto-form-container">
    <h1>Alterar seus Dados</h1>
    <form action="/produtos/cliente_update" method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" value="{{user.id}}">
        
        <div class="form-group">
            <label for="name">Nome:</label>
            <input type="text" id="name" name="name" value="{{user.name}}" required>
        </div>
        
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="{{user.email}}" required>
        </div>
        
        <div class="form-group">
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" placeholder="Nova Senha">
        </div>
        
        <div class="form-group">
            <label for="confirmpassword">Confirmar Senha:</label>
            <input type="password" id="confirmpassword" name="confirmpassword" placeholder="Confirmar Senha">
        </div>
        
        <div class="form-group">
            <label for="profileImage">Imagem de Perfil:</label>
            <input type="file" id="profileImage" name="profileImage">
        </div>
        
        <div class="form-group">
            <button type="submit" class="btn">Atualizar</button>
        </div>
    </form>
</div>